<ul class="cabinet-tabs">
    <li routerLinkActive='active' [routerLinkActiveOptions]="{autoapply: true}">
        <a routerLink='/orders' routerLinkActive="router-link-active ">
            <p class="d-xs-none ">My orders</p><img class="d-sm-none " src="../../assets/img/my-offers.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='balance'>
            <p class="d-xs-none ">My balance</p><img class="d-sm-none " src="../../assets/img/my-balance.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='accounts'>
            <p class="d-xs-none ">My accounts</p><img class="d-sm-none " src="../../assets/img/my-checks.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='sale'>
            <p class="d-xs-none ">On sale</p><img class="d-sm-none " src="../../assets/img/my-sells.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='cars'>
            <p class="d-xs-none ">My cars</p><img class="d-sm-none " src="../../assets/img/my-cars.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='/requests'>
            <p class="d-xs-none ">My requests</p><img class="d-sm-none " src="../../assets/img/my-requests.png "></a>
    </li>
    <li routerLinkActive='active'>
        <a routerLink='profile'>
            <p class="d-xs-none ">Profile</p><img class="d-sm-none " src="../../assets/img/my-data.png "></a>
    </li>
</ul>