.table-filter li a {
    cursor: pointer;
    color: #007bff;
}

.table-filter li a:hover {
    color: #1565c0;
    transition: color .3s;
}

.table-orders tbody tr {
    opacity: 0.9;
}

.table-orders tbody tr:hover {
    opacity: 1;
}

.order-quantity {
    width: 40px;
    text-align: center;
}