.table-filter li a {
    cursor: pointer;
    color: #007bff;
}

.table-filter li a:hover {
    color: #1565c0;
    transition: color .3s;
}

.order-quantity {
    width: 40px;
    text-align: center;
}