<div class="balance-header mb-3">
    <h2 class="tab-title mb-0">My balance: 0$</h2>
    <button class="btn btn-success">Add funds</button>
</div>

<table class="table table-borderless table-balance">
    <thead>
        <tr>
            <th>Date</th>
            <th>Operation</th>
            <th>Summ</th>
            <th>Rest</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let balance of balances; let i = index">
            <td> {{ balance.date }} </td>
            <td> {{ balance.operation }} </td>
            <td>
                <div class="balance-plus">
                    {{ balance.summ | currency }}
                </div>
            </td>
            <td>
                <div class="balance-rest">
                    {{ balance.rest }}
                </div>
            </td>
            <td>
                <div *ngIf="balance.status === 'Completed'" class="balance-completed">
                    {{ balance.status }}
                </div>
                <div *ngIf="balance.status === 'Declined'" class="balance-declined">
                    {{ balance.status }}
                </div>
            </td>
        </tr>
    </tbody>
</table>